#                                                  Cleaning "London Air" dataset

## Data exploration

In [1]:
# Importing important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read the dataset
df = pd.read_csv('time-of-day-per-month.csv')
df

,Month (text),GMT,London Mean Roadside Nitric Oxide (ug/m3),London Mean Roadside Nitrogen Dioxide (ug/m3),London Mean Roadside Oxides of Nitrogen (ug/m3),London Mean Roadside Ozone (ug/m3),London Mean Roadside PM10 Particulate (ug/m3),London Mean Roadside PM2.5 Particulate (ug/m3),London Mean Roadside Sulphur Dioxide (ug/m3),London Mean Background Nitric Oxide (ug/m3),London Mean Background Nitrogen Dioxide (ug/m3),London Mean Background Oxides of Nitrogen (ug/m3),London Mean Background Ozone (ug/m3),London Mean Background PM10 Particulate (ug/m3),London Mean Background PM2.5 Particulate (ug/m3),London Mean Background Sulphur Dioxide (ug/m3)
0,2008-01-01,00:00,NaN,42.258065,NaN,32.645161,22.967742,15.516129,3.354839,NaN,34.193548,NaN,41.774194,19.161290,NaN,3.129032
1,2008-01-01,01:00,NaN,33.774194,NaN,35.290323,21.161290,13.548387,2.612903,NaN,29.000000,NaN,45.290323,18.903226,NaN,3.064516
2,2008-01-01,02:00,NaN,28.838710,NaN,43.161290,19.580645,12.677419,2.129032,NaN,25.354839,NaN,46.645161,17.677419,NaN,3.290323
3,2008-01-01,03:00,NaN,27.322581,NaN,42.387097,18.322581,11.870968,1.967742,NaN,23.387097,NaN,46.645161,16.387097,NaN,3.322581
4,2008-01-01,04:00,NaN,29.387097,NaN,40.129032,18.096774,11.967742,2.193548,NaN,24.193548,NaN,45.225806,16.000000,NaN,2.774194
5,2008-01-01,05:00,NaN,38.322581,NaN,33.806452,18.677419,12.225806,2.193548,NaN,29.419355,NaN,40.290323,15.548387,NaN,2.419355
6,2008-01-01,06:00,NaN,53.709677,NaN,26.741935,21.516129,14.548387,3.419355,NaN,39.645161,NaN,34.064516,16.709677,NaN,2.774194
7,2008-01-01,07:00,NaN,66.161290,NaN,22.354839,23.354839,14.967742,4.161290,NaN,49.258065,NaN,29.322581,17.129032,NaN,3.000000
8,2008-01-01,08:00,NaN,69.483871,NaN,21.516129,25.258065,14.870968,4.741935,NaN,52.870968,NaN,28.096774,17.677419,NaN,3.451613
9,2008-01-01,09:00,NaN,67.064516,NaN,23.741935,26.645161,14.806452,5.225806,NaN,50.451613,NaN,31.419355,19.129032,NaN,3.838710
10,2008-01-01,10:00,NaN,62.258065,NaN,28.000000,26.741935,14.612903,5.290323,NaN,45.612903,NaN,36.096774,18.451613,NaN,3.903226
11,2008-01-01,11:00,NaN,60.451613,NaN,29.580645,28.064516,14.806452,5.000000,NaN,43.096774,NaN,37.935484,19.161290,NaN,4.225806
12,2008-01-01,12:00,NaN,59.322581,NaN,29.967742,28.000000,14.580645,5.032258,NaN,41.387097,NaN,39.903226,19.129032,NaN,3.935484
13,2008-01-01,13:00,NaN,59.677419,NaN,30.580645,27.709677,13.838710,5.096774,NaN,40.000000,NaN,41.516129,18.483871,NaN,3.580645
14,2008-01-01,14:00,NaN,60.838710,NaN,30.645161,26.322581,14.225806,4.870968,NaN,41.064516,NaN,41.129032,17.032258,NaN,3.483871
15,2008-01-01,15:00,NaN,66.096774,NaN,27.806452,27.193548,14.258065,5.032258,NaN,45.580645,NaN,37.612903,17.838710,NaN,3.645161
16,2008-01-01,16:00,NaN,72.580645,NaN,23.741935,28.000000,15.516129,5.322581,NaN,52.032258,NaN,31.935484,18.774194,NaN,3.677419
17,2008-01-01,17:00,NaN,74.967742,NaN,22.064516,29.322581,16.903226,5.483871,NaN,55.677419,NaN,29.161290,20.548387,NaN,3.677419
18,2008-01-01,18:00,NaN,74.806452,NaN,22.225806,30.193548,17.870968,5.580645,NaN,57.064516,NaN,28.903226,21.806452,NaN,3.870968
19,2008-01-01,19:00,NaN,69.354839,NaN,23.580645,29.967742,17.225806,5.354839,NaN,55.290323,NaN,30.290323,22.935484,NaN,3.903226
20,2008-01-01,20:00,NaN,62.258065,NaN,25.774194,28.548387,16.677419,4.935484,NaN,51.483871,NaN,32.548387,22.612903,NaN,4.354839
21,2008-01-01,21:00,NaN,55.870968,NaN,28.290323,26.129032,15.548387,4.677419,NaN,47.483871,NaN,34.354839,21.354839,NaN,4.354839
22,2008-01-01,22:00,NaN,51.419355,NaN,30.483871,24.354839,15.032258,4.000000,NaN,44.032258,NaN,36.451613,19.967742,NaN,4.290323
23,2008-01-01,23:00,NaN,45.838710,NaN,33.774194,23.129032,14.193548,3.548387,NaN,38.548387,NaN,40.000000,19.193548,NaN,3.774194
24,2008-02-01,00:00,NaN,68.241379,NaN,20.310345,34.620690,27.379310,5.586207,NaN,57.862069,NaN,25.206897,30.103448,NaN,5.482759
25,2008-02-01,01:00,NaN,60.655172,NaN,21.103448,32.172414,27.586207,4.551724,NaN,53.862069,NaN,26.620690,28.586207,NaN,5.241379
26,2008-02-01,02:00,NaN,54.000000,NaN,23.965517,30.482759,26.068966,4.068966,NaN,48.724138,NaN,27.000000,27.724138,NaN,5.068966
27,2008-02-01,03:00,NaN,50.862069,NaN,24.517241,29.379310,25.103448,4.034483,NaN,45.827586,NaN,27.413793,26.862069,NaN,5.000000
28,2008-02-01,04:00,NaN,51.931034,NaN,23.448276,28.793103,24.172414,4.310345,NaN,45.620690,NaN,27.137931,26.172414,NaN,4.931034
29,2008-02-01,05:00,NaN,60.655172,NaN,19.586207,29.758621,25.206897,4.793103,NaN,50.172414,NaN,24.586207,26.344828,NaN,5.068966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,2018-11-01,18:00,65.810000,60.663333,161.573333,14.363333,26.123333,16.893333,5.886667,20.483333,43.360000,70.090000,20.720000,20.760000,14.506667,2.476667
3139,2018-11-01,19:00,61.583333,58.420000,152.810000,14.636667,27.520000,19.113333,6.076667,21.076667,42.473333,70.653333,20.413333,22.796667,17.160000,2.516667
3140,2018-11-01,20:00,55.756667,53.926667,139.416667,15.310000,28.120000,20.356667,5.883333,20.413333,39.940000,67.260000,20.750000,23.936667,19.033333,2.513333
3141,2018-11-01,21:00,50.683333,50.076667,127.783333,15.886667,27.283333,20.720000,5.750000,19.096667,37.590000,63.086667,21.620000,23.643333,17.530000,2.583333
3142,2018-11-01,22:00,47.513333,47.850000,120.720000,16.440000,25.386667,18.953333,5.623333,19.146667,35.920000,61.223333,22.136667,21.646667,16.036667,2.496667
3143,2018-11-01,23:00,42.876667,44.780000,110.510000,17.596667,23.100000,16.956667,5.346667,17.006667,32.580000,56.043333,24.013333,20.143333,14.773333,2.446667
3144,2018-12-01,00:00,34.512903,40.300000,93.193548,25.793548,18.103226,11.870968,1.025000,15.448387,29.267742,52.774194,31.535484,15.374194,10.667742,2.316129
3145,2018-12-01,01:00,27.112903,33.819355,75.374194,29.580645,16.900000,10.796774,1.120000,13.858065,25.545161,46.741935,33.835484,15.054839,10.138710,3.477419
3146,2018-12-01,02:00,22.438710,28.983871,63.383871,29.229032,16.161290,10.632258,1.132000,12.558065,22.422581,41.458065,35.067742,14.651613,9.951613,1.590323
3147,2018-12-01,03:00,20.164516,26.490323,57.387097,30.451613,15.609677,10.264516,1.262500,11.774194,20.058065,37.748387,36.406452,14.374194,9.529032,1.632258
3148,2018-12-01,04:00,21.470968,27.200000,60.090323,29.058065,15.877419,10.019355,1.212000,11.590323,20.164516,37.590323,35.912903,14.390323,9.577419,1.522581
3149,2018-12-01,05:00,29.538710,31.570968,76.851613,26.196774,16.251613,10.151613,1.696000,13.019355,22.361290,41.261290,33.761290,13.900000,9.509677,1.532258
3150,2018-12-01,06:00,47.345161,40.922581,113.493548,22.283871,17.196774,10.483871,3.036000,18.654839,27.961290,54.245161,30.403226,13.764516,9.209677,1.777419
3151,2018-12-01,07:00,65.358065,49.109677,149.296774,19.577419,18.570968,11.003226,3.336000,25.293548,33.687097,70.593548,26.764516,13.983871,9.593548,1.887097
3152,2018-12-01,08:00,76.751613,53.009677,170.677419,19.016129,19.887097,11.164516,3.840000,32.835484,36.951613,85.625806,25.748387,14.774194,9.300000,2.158065
3153,2018-12-01,09:00,79.135484,54.577419,175.900000,19.445161,21.290323,11.716129,3.840000,33.529032,37.212903,87.254839,26.225806,16.096774,9.522581,2.270968
3154,2018-12-01,10:00,72.393548,53.190323,164.183871,20.941935,22.345161,11.709677,3.312000,27.574194,35.106452,76.358065,28.783871,16.396774,9.745161,2.932258
3155,2018-12-01,11:00,65.077419,52.474194,152.241935,22.112903,23.241935,11.545161,2.843478,23.054839,33.480645,67.303226,31.280645,16.700000,9.554839,1.987097
3156,2018-12-01,12:00,58.690323,51.670968,141.635484,23.229032,22.851613,11.309677,2.831818,18.190323,32.229032,58.029032,33.370968,15.658065,9.658065,1.922581
3157,2018-12-01,13:00,55.329032,51.751613,136.574194,23.403226,22.200000,11.122581,2.718182,14.858065,31.851613,52.587097,34.380645,15.003226,8.964516,1.787097
3158,2018-12-01,14:00,54.441935,53.016129,136.474194,22.729032,21.948387,10.309677,3.145455,13.674194,32.903226,52.022581,34.058065,14.593548,8.525806,1.690323
3159,2018-12-01,15:00,58.864516,56.848387,147.090323,19.993548,22.370968,10.719355,3.756522,15.051613,37.096774,58.493548,29.564516,14.945161,8.325806,1.767742
3160,2018-12-01,16:00,65.464516,60.990323,161.348387,17.958065,23.258065,11.896774,3.252174,19.345161,41.593548,69.916129,25.996774,16.125806,9.054839,1.896774
3161,2018-12-01,17:00,67.335484,62.029032,165.270968,17.764516,23.509677,12.890323,3.091304,22.712903,42.832258,76.535484,25.364516,17.035484,9.954839,2.061290
3162,2018-12-01,18:00,65.948387,61.335484,162.454839,17.964516,23.222581,13.403226,2.608696,23.361290,42.651613,77.767742,25.435484,17.800000,10.764516,2.087097
3163,2018-12-01,19:00,59.396774,58.429032,149.503226,19.609677,22.793548,13.577419,2.052174,21.977419,40.993548,74.290323,26.438710,16.767742,10.987097,2.041935
3164,2018-12-01,20:00,51.661290,54.100000,133.290323,20.467742,21.877419,13.277419,1.500000,19.416129,38.561290,68.000000,26.961290,16.670968,11.077419,1.874194
3165,2018-12-01,21:00,47.325806,51.170968,123.706452,20.929032,21.545161,13.648387,1.300000,18.100000,36.251613,63.603226,27.593548,16.822581,10.961290,1.796774
3166,2018-12-01,22:00,44.380645,48.183871,116.225806,22.535484,20.722581,13.370968,1.034783,17.248387,34.006452,60.151613,29.612903,16.719355,11.170968,1.838710
3167,2018-12-01,23:00,40.200000,44.964516,106.596774,24.103226,19.377419,12.125806,0.678261,16.129032,31.325806,55.858065,30.819355,15.864516,11.064516,1.812903

In [3]:
# Read the dataset
df123 = pd.read_csv('monthly-averages.csv')
df123

,Month,London Mean Roadside Nitric Oxide (ug/m3),London Mean Roadside Nitrogen Dioxide (ug/m3),London Mean Roadside Oxides of Nitrogen (ug/m3),London Mean Roadside Ozone (ug/m3),London Mean Roadside PM10 Particulate (ug/m3),London Mean Roadside PM2.5 Particulate (ug/m3),London Mean Roadside Sulphur Dioxide (ug/m3),London Mean Background Nitric Oxide (ug/m3),London Mean Background Nitrogen Dioxide (ug/m3),London Mean Background Oxides of Nitrogen (ug/m3),London Mean Background Ozone (ug/m3),London Mean Background PM10 Particulate (ug/m3),London Mean Background PM2.5 Particulate (ug/m3),London Mean Background Sulphur Dioxide (ug/m3)
0,2008-01-01,NaN,55.502688,NaN,29.512097,24.969086,14.678763,4.217742,NaN,42.338710,NaN,36.942204,18.817204,NaN,3.572581
1,2008-02-01,NaN,75.922414,NaN,20.317529,39.477011,28.772989,7.553161,NaN,60.237069,NaN,26.425287,31.896552,NaN,6.734195
2,2008-03-01,NaN,55.610215,NaN,40.103495,21.569892,12.300135,3.868280,NaN,39.801075,NaN,50.227151,15.477151,NaN,2.286290
3,2008-04-01,NaN,61.756944,NaN,37.884722,28.740278,20.461111,4.475000,NaN,44.009722,NaN,50.133333,21.729167,NaN,3.236111
4,2008-05-01,NaN,62.903226,NaN,46.266129,34.611559,27.508065,4.634409,NaN,44.141129,NaN,60.512097,29.545699,16.576826,4.250000
5,2008-06-01,NaN,49.161111,NaN,39.836111,23.198611,16.010057,3.593056,NaN,31.241667,NaN,51.326389,18.250000,12.613764,2.547222
6,2008-07-01,NaN,48.444892,NaN,34.982527,22.958333,14.240591,3.100806,NaN,31.216398,NaN,46.623656,17.204301,11.899194,2.493280
7,2008-08-01,NaN,41.072581,NaN,30.021505,20.693548,11.452957,2.155914,NaN,27.850806,NaN,37.094086,15.508065,11.201379,2.088710
8,2008-09-01,NaN,54.080556,NaN,22.375000,28.227778,17.979167,3.748611,NaN,41.215278,NaN,28.886111,22.244444,15.324513,3.056944
9,2008-10-01,NaN,56.658602,NaN,19.337366,23.002688,12.918011,4.305108,NaN,43.813172,NaN,25.427419,16.469086,11.620968,2.838710
10,2008-11-01,NaN,57.929167,NaN,18.809722,21.854167,14.713889,3.287500,NaN,42.311111,NaN,22.581944,16.752778,12.890278,2.672222
11,2008-12-01,NaN,65.103495,NaN,14.486559,27.297043,20.516129,3.791667,NaN,47.508065,NaN,16.670699,21.510753,18.095430,3.500000
12,2009-01-01,NaN,68.522849,NaN,18.784946,31.112903,23.177419,5.880376,NaN,51.985215,NaN,21.471774,25.275538,20.659946,4.842742
13,2009-02-01,NaN,71.925595,NaN,15.074405,28.010417,19.075893,4.680060,NaN,52.668155,NaN,20.337798,20.845238,17.238095,3.026786
14,2009-03-01,NaN,65.154570,NaN,32.329301,29.971774,19.706989,3.266129,NaN,45.344086,NaN,40.168011,24.315860,17.279570,2.920699
15,2009-04-01,NaN,63.175000,NaN,35.737500,32.598611,26.084722,2.691667,NaN,40.145833,NaN,46.038889,27.690278,21.616667,2.737500
16,2009-05-01,NaN,48.610215,NaN,45.385753,24.877688,14.305108,2.819892,NaN,28.080645,NaN,55.112903,19.748656,11.814516,2.436828
17,2009-06-01,NaN,56.076389,NaN,40.122222,24.680556,15.937500,3.626389,NaN,33.131944,NaN,52.515278,19.852778,13.113889,2.516667
18,2009-07-01,NaN,44.368280,NaN,32.771505,20.224462,11.231183,2.422043,NaN,24.857527,NaN,40.439516,15.494624,9.841398,2.151882
19,2009-08-01,NaN,48.659946,NaN,28.603495,21.696237,13.256720,2.258065,NaN,29.208333,NaN,35.952957,16.583333,11.389785,2.478495
20,2009-09-01,NaN,51.559722,NaN,26.320833,24.255556,14.443056,2.404167,NaN,32.673611,NaN,33.116667,19.111111,11.616667,3.009722
21,2009-10-01,NaN,62.942204,NaN,15.037634,27.247312,18.018817,4.255376,NaN,44.290323,NaN,20.278226,21.513441,14.383065,4.025538
22,2009-11-01,NaN,53.655556,NaN,29.900000,21.945833,12.895833,3.378623,NaN,36.638889,NaN,36.529167,17.543056,11.391667,2.829167
23,2009-12-01,NaN,65.180108,NaN,18.880376,23.098118,16.279570,4.127688,NaN,49.955645,NaN,22.264785,18.587366,13.948925,3.642473
24,2010-01-01,100.503763,65.680242,166.412634,14.032258,30.172715,24.342742,4.729973,45.198790,51.902957,97.196371,17.350806,25.039113,22.084409,4.204570
25,2010-02-01,78.787946,63.870238,142.750893,23.813095,25.194345,18.335119,4.586905,29.289137,47.654762,76.995982,29.827381,19.404167,15.945982,3.230952
26,2010-03-01,72.375538,59.835484,120.641667,26.424731,25.612903,15.860349,3.429301,22.999059,40.816263,63.824597,42.519355,19.396371,14.077823,2.696909
27,2010-04-01,63.911111,60.154444,124.046944,37.173333,29.757361,18.816528,4.640278,20.907500,41.904167,62.830972,50.208333,24.330417,16.269583,4.123611
28,2010-05-01,60.860887,53.230108,114.096909,35.091263,24.535349,16.191129,3.883468,17.323925,33.097043,50.479301,47.232796,19.859946,13.231317,3.175134
29,2010-06-01,55.218472,53.858611,109.100000,34.009722,26.518056,17.441944,4.414583,13.358056,33.682222,47.082917,50.175972,21.970833,15.075417,3.183194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,2016-07-01,69.927957,45.445296,115.425000,24.222312,16.991129,10.930914,2.505914,10.630376,21.326613,31.958737,36.647177,13.043548,6.763575,2.476210
103,2016-08-01,65.571102,47.586962,113.208737,27.218952,20.733871,12.710484,1.990860,11.124328,23.563306,34.687500,39.734140,16.805242,8.573656,3.137634
104,2016-09-01,87.288333,54.715139,142.106389,21.575000,21.541389,12.899583,2.513472,14.560556,28.194583,42.757500,30.053750,16.755694,8.674306,3.821667
105,2016-10-01,108.272849,58.282796,166.633199,15.257661,24.327823,16.742339,4.951882,32.376210,33.669086,66.046371,20.027688,19.898118,12.001210,3.220430
106,2016-11-01,139.044306,66.137778,205.268194,15.389306,24.587778,14.518611,6.113706,49.543472,41.354861,90.900417,20.919722,19.117778,11.598056,4.906667
107,2016-12-01,180.933333,69.721909,250.743414,11.080511,33.179301,23.883065,5.758808,79.245296,49.569892,128.814651,13.995296,27.129570,20.313306,2.596371
108,2017-01-01,110.422043,71.741667,241.140726,12.834409,31.254301,23.840323,8.540566,51.144624,50.731720,129.152285,16.133737,24.751210,21.332796,3.263038
109,2017-02-01,57.059821,54.693006,142.142857,25.517262,25.618006,18.439583,5.053125,13.911458,33.915327,55.247619,32.821577,21.211905,16.165625,4.182440
110,2017-03-01,50.153495,52.864113,129.735349,33.646371,23.054435,13.534677,2.432615,9.224328,31.905914,46.124462,43.896237,17.827285,12.020833,3.621640
111,2017-04-01,40.743194,51.143611,113.622222,38.291944,22.397917,12.796389,3.410585,7.855417,28.729028,40.937361,51.241389,17.530000,11.335417,2.907778
112,2017-05-01,39.662231,47.415054,108.193817,34.293817,22.330645,12.836559,2.113863,7.027823,26.808333,37.584812,48.259140,18.040323,11.389113,3.445430
113,2017-06-01,36.963889,45.571250,102.243889,34.347778,21.073056,11.405556,1.928431,5.817500,22.711667,31.631806,50.590139,16.388889,9.507361,2.906389
114,2017-07-01,38.242339,41.984543,100.612903,27.476210,17.158199,9.408468,0.843876,5.922043,21.210484,26.712231,42.372446,12.988978,7.542876,3.069624
115,2017-08-01,41.681720,44.256989,108.157930,23.564382,17.810484,10.236559,0.556604,8.226747,24.449059,33.455780,36.828763,13.838710,8.679973,1.365726
116,2017-09-01,48.092222,47.834583,121.567083,20.240000,19.244583,12.087500,1.780780,10.194028,27.709861,39.274861,31.186250,14.133750,10.383750,1.331528
117,2017-10-01,51.691532,47.443280,126.696909,22.813306,19.973118,10.863441,1.589488,13.728629,28.503091,45.590323,32.024194,15.568280,9.280780,3.267742
118,2017-11-01,69.779722,57.014583,164.069167,17.071389,22.804583,13.383056,4.548911,24.659583,38.626389,76.438750,23.812500,17.488611,11.761944,2.919722
119,2017-12-01,57.133602,52.852688,140.509677,21.817742,17.506183,9.884409,5.566262,17.500134,36.142070,62.975806,28.793011,13.048118,9.395161,1.951210
120,2018-01-01,46.029032,47.287769,117.859543,26.432796,19.253360,10.281989,2.961186,13.944220,32.087903,49.220027,35.781317,14.949328,10.812231,2.021371
121,2018-02-01,47.602381,51.468601,124.453423,26.071875,23.483482,11.918304,3.087761,12.791369,35.220982,51.398363,36.339137,16.864137,12.460119,1.491815
122,2018-03-01,41.536962,51.069624,114.755780,29.823253,26.291532,14.989919,4.000269,10.321371,34.375000,46.165726,42.424731,20.232258,13.589516,1.833065
123,2018-04-01,34.794306,46.778056,100.123472,35.509583,25.677917,16.844861,1.263928,7.308333,28.695417,36.607639,50.561111,20.746111,14.615417,1.079167
124,2018-05-01,32.576882,49.315054,99.265457,40.938844,29.308065,18.900000,1.409987,6.047984,28.275134,35.089247,59.826344,24.015054,16.132392,3.808468
125,2018-06-01,27.935833,39.405139,82.235139,36.491667,21.252361,10.441250,2.654266,4.656528,20.050417,25.642083,55.542778,16.621389,8.739583,1.964861
126,2018-07-01,27.211156,45.512097,87.235618,38.081586,22.919355,11.808871,-1.686945,4.172043,23.305645,27.626882,62.561828,18.618280,10.083065,2.436694
127,2018-08-01,33.125000,38.950403,89.741935,22.498118,16.284946,7.897849,1.772446,5.893952,20.524462,27.563172,37.307527,11.926882,6.394624,1.947446
128,2018-09-01,39.063333,43.906389,103.810556,26.625556,18.896111,9.738333,0.343333,10.228472,25.935833,39.556111,40.955139,14.258750,7.894861,1.157083
129,2018-10-01,48.643414,46.765457,121.360887,19.501075,19.339247,11.509409,-0.794347,13.622715,29.816129,48.680780,30.284543,14.793817,8.969220,2.843952
130,2018-11-01,52.535833,47.584028,128.134306,17.159583,23.600000,15.207639,5.885035,18.285833,33.872639,57.820556,24.262361,19.425278,13.525694,2.393333
131,2018-12-01,51.264113,47.755780,126.343548,22.682258,20.296371,11.625403,2.316344,19.135618,32.771505,61.092070,30.221774,15.561156,9.867070,1.985887

In [4]:
df.describe()

,London Mean Roadside Nitric Oxide (ug/m3),London Mean Roadside Nitrogen Dioxide (ug/m3),London Mean Roadside Oxides of Nitrogen (ug/m3),London Mean Roadside Ozone (ug/m3),London Mean Roadside PM10 Particulate (ug/m3),London Mean Roadside PM2.5 Particulate (ug/m3),London Mean Roadside Sulphur Dioxide (ug/m3),London Mean Background Nitric Oxide (ug/m3),London Mean Background Nitrogen Dioxide (ug/m3),London Mean Background Oxides of Nitrogen (ug/m3),London Mean Background Ozone (ug/m3),London Mean Background PM10 Particulate (ug/m3),London Mean Background PM2.5 Particulate (ug/m3),London Mean Background Sulphur Dioxide (ug/m3)
count,2592.000000,3168.000000,2592.000000,3168.000000,3168.000000,3168.000000,3168.000000,2592.000000,3168.000000,2592.000000,3168.000000,3168.000000,3072.000000,3168.000000
mean,78.339254,55.757291,139.490022,27.173816,25.122292,15.715066,3.262949,22.122995,34.864790,56.383385,36.894533,19.272478,13.292989,3.362393
std,41.165511,13.456008,51.788558,10.554851,6.111801,5.187532,1.661654,17.258042,10.838895,26.522083,15.018422,4.972061,4.755642,1.112722
min,9.163333,20.996774,37.803571,6.410000,11.812903,5.907143,-2.383871,1.419355,11.529032,13.461290,8.732258,10.229032,5.612903,0.730000
25%,46.527419,47.099194,101.602419,19.391935,20.938871,12.052903,2.231607,9.690323,26.235657,36.524355,25.723848,15.903226,9.873978,2.596774
50%,72.861774,55.756667,136.022581,25.941935,24.286828,14.334167,3.134409,16.737385,33.098387,49.200952,34.708226,18.133333,12.045968,3.319677
75%,103.343437,64.977500,171.520403,33.792742,28.320161,18.129274,4.241379,29.292742,41.936434,69.950893,46.143980,21.484570,15.625000,4.032258
max,257.264516,95.551724,336.270968,66.290323,52.093548,36.523333,10.867742,120.364516,74.310345,193.654839,96.051613,43.438710,33.366667,9.034483

In [3]:
# Shape of our dataset
df.shape

(3168, 16)

In [4]:
# Some information about dataset such as type of each feature and number of non-null values and etc.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3168 entries, 0 to 3167
Data columns (total 16 columns):
Month (text)                                         3168 non-null object
GMT                                                  3168 non-null object
London Mean Roadside Nitric Oxide (ug/m3)            2592 non-null float64
London Mean Roadside Nitrogen Dioxide (ug/m3)        3168 non-null float64
London Mean Roadside Oxides of Nitrogen (ug/m3)      2592 non-null float64
London Mean Roadside Ozone (ug/m3)                   3168 non-null float64
London Mean Roadside PM10 Particulate (ug/m3)        3168 non-null float64
London Mean Roadside PM2.5 Particulate (ug/m3)       3168 non-null float64
London Mean Roadside Sulphur Dioxide (ug/m3)         3168 non-null float64
London Mean Background Nitric Oxide (ug/m3)          2592 non-null float64
London Mean Background Nitrogen Dioxide (ug/m3)      3168 non-null float64
London Mean Background Oxides of Nitrogen (ug/m3)    2592 non-null float64
London Mean Background Ozone (ug/m3)                 3168 non-null float64
London Mean Background PM10 Particulate (ug/m3)      3168 non-null float64
London Mean Background PM2.5 Particulate (ug/m3)     3072 non-null float64
London Mean Background Sulphur Dioxide (ug/m3)       3168 non-null float64
dtypes: float64(14), object(2)
memory usage: 396.1+ KB

In [5]:
# Number of null values in each feature
df.isnull().sum().sort_values(ascending=False)

London Mean Background Oxides of Nitrogen (ug/m3)    576
London Mean Background Nitric Oxide (ug/m3)          576
London Mean Roadside Oxides of Nitrogen (ug/m3)      576
London Mean Roadside Nitric Oxide (ug/m3)            576
London Mean Background PM2.5 Particulate (ug/m3)      96
London Mean Background Sulphur Dioxide (ug/m3)         0
London Mean Background PM10 Particulate (ug/m3)        0
London Mean Background Ozone (ug/m3)                   0
London Mean Background Nitrogen Dioxide (ug/m3)        0
London Mean Roadside Sulphur Dioxide (ug/m3)           0
London Mean Roadside PM2.5 Particulate (ug/m3)         0
London Mean Roadside PM10 Particulate (ug/m3)          0
London Mean Roadside Ozone (ug/m3)                     0
London Mean Roadside Nitrogen Dioxide (ug/m3)          0
GMT                                                    0
Month (text)                                           0
dtype: int64

In [6]:
df['London Mean Background Oxides of Nitrogen (ug/m3)'].value_counts()

57.464516    2
36.064516    2
86.603226    2
63.667742    2
36.703226    2
            ..
75.050000    1
40.632258    1
37.350000    1
46.358065    1
71.000000    1
Name: London Mean Background Oxides of Nitrogen (ug/m3), Length: 2561, dtype: int64

## Impute missing values

In [7]:
''' 
    I decided not to use Imputer library from sklearn, 
    instead I created my own class for imputing missing values 
    for different type of features
'''

from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)
    
df_updated = DataFrameImputer().fit_transform(df)

In [8]:
# Our dataset now looks filled
df_updated

,Month (text),GMT,London Mean Roadside Nitric Oxide (ug/m3),London Mean Roadside Nitrogen Dioxide (ug/m3),London Mean Roadside Oxides of Nitrogen (ug/m3),London Mean Roadside Ozone (ug/m3),London Mean Roadside PM10 Particulate (ug/m3),London Mean Roadside PM2.5 Particulate (ug/m3),London Mean Roadside Sulphur Dioxide (ug/m3),London Mean Background Nitric Oxide (ug/m3),London Mean Background Nitrogen Dioxide (ug/m3),London Mean Background Oxides of Nitrogen (ug/m3),London Mean Background Ozone (ug/m3),London Mean Background PM10 Particulate (ug/m3),London Mean Background PM2.5 Particulate (ug/m3),London Mean Background Sulphur Dioxide (ug/m3)
0,2008-01-01,00:00,78.339254,42.258065,139.490022,32.645161,22.967742,15.516129,3.354839,22.122995,34.193548,56.383385,41.774194,19.161290,13.292989,3.129032
1,2008-01-01,01:00,78.339254,33.774194,139.490022,35.290323,21.161290,13.548387,2.612903,22.122995,29.000000,56.383385,45.290323,18.903226,13.292989,3.064516
2,2008-01-01,02:00,78.339254,28.838710,139.490022,43.161290,19.580645,12.677419,2.129032,22.122995,25.354839,56.383385,46.645161,17.677419,13.292989,3.290323
3,2008-01-01,03:00,78.339254,27.322581,139.490022,42.387097,18.322581,11.870968,1.967742,22.122995,23.387097,56.383385,46.645161,16.387097,13.292989,3.322581
4,2008-01-01,04:00,78.339254,29.387097,139.490022,40.129032,18.096774,11.967742,2.193548,22.122995,24.193548,56.383385,45.225806,16.000000,13.292989,2.774194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,2018-12-01,19:00,59.396774,58.429032,149.503226,19.609677,22.793548,13.577419,2.052174,21.977419,40.993548,74.290323,26.438710,16.767742,10.987097,2.041935
3164,2018-12-01,20:00,51.661290,54.100000,133.290323,20.467742,21.877419,13.277419,1.500000,19.416129,38.561290,68.000000,26.961290,16.670968,11.077419,1.874194
3165,2018-12-01,21:00,47.325806,51.170968,123.706452,20.929032,21.545161,13.648387,1.300000,18.100000,36.251613,63.603226,27.593548,16.822581,10.961290,1.796774
3166,2018-12-01,22:00,44.380645,48.183871,116.225806,22.535484,20.722581,13.370968,1.034783,17.248387,34.006452,60.151613,29.612903,16.719355,11.170968,1.838710
3167,2018-12-01,23:00,40.200000,44.964516,106.596774,24.103226,19.377419,12.125806,0.678261,16.129032,31.325806,55.858065,30.819355,15.864516,11.064516,1.812903

## Encoding categorical features

In [9]:
df_updated['GMT'].value_counts()

13:00    132
00:00    132
20:00    132
23:00    132
09:00    132
06:00    132
04:00    132
18:00    132
15:00    132
19:00    132
07:00    132
11:00    132
05:00    132
14:00    132
08:00    132
22:00    132
01:00    132
02:00    132
16:00    132
03:00    132
10:00    132
21:00    132
17:00    132
12:00    132
Name: GMT, dtype: int64

In [10]:
df_updated['Month (text)'].value_counts()

2018-10-01    24
2017-11-01    24
2018-11-01    24
2011-09-01    24
2009-06-01    24
              ..
2009-04-01    24
2011-03-01    24
2009-12-01    24
2008-07-01    24
2016-08-01    24
Name: Month (text), Length: 132, dtype: int64

In [11]:
category_col=df_updated.select_dtypes(include=['object']).columns
category_col

Index(['Month (text)', 'GMT'], dtype='object')

In [12]:
# I chose Label Encoding over One Hot encoding, because for each categorical feature (2) we have same amount of its data 
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for col in category_col:
    df_updated[col] = label_encoder.fit_transform(df_updated[col])
    
df_updated

,Month (text),GMT,London Mean Roadside Nitric Oxide (ug/m3),London Mean Roadside Nitrogen Dioxide (ug/m3),London Mean Roadside Oxides of Nitrogen (ug/m3),London Mean Roadside Ozone (ug/m3),London Mean Roadside PM10 Particulate (ug/m3),London Mean Roadside PM2.5 Particulate (ug/m3),London Mean Roadside Sulphur Dioxide (ug/m3),London Mean Background Nitric Oxide (ug/m3),London Mean Background Nitrogen Dioxide (ug/m3),London Mean Background Oxides of Nitrogen (ug/m3),London Mean Background Ozone (ug/m3),London Mean Background PM10 Particulate (ug/m3),London Mean Background PM2.5 Particulate (ug/m3),London Mean Background Sulphur Dioxide (ug/m3)
0,0,0,78.339254,42.258065,139.490022,32.645161,22.967742,15.516129,3.354839,22.122995,34.193548,56.383385,41.774194,19.161290,13.292989,3.129032
1,0,1,78.339254,33.774194,139.490022,35.290323,21.161290,13.548387,2.612903,22.122995,29.000000,56.383385,45.290323,18.903226,13.292989,3.064516
2,0,2,78.339254,28.838710,139.490022,43.161290,19.580645,12.677419,2.129032,22.122995,25.354839,56.383385,46.645161,17.677419,13.292989,3.290323
3,0,3,78.339254,27.322581,139.490022,42.387097,18.322581,11.870968,1.967742,22.122995,23.387097,56.383385,46.645161,16.387097,13.292989,3.322581
4,0,4,78.339254,29.387097,139.490022,40.129032,18.096774,11.967742,2.193548,22.122995,24.193548,56.383385,45.225806,16.000000,13.292989,2.774194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,131,19,59.396774,58.429032,149.503226,19.609677,22.793548,13.577419,2.052174,21.977419,40.993548,74.290323,26.438710,16.767742,10.987097,2.041935
3164,131,20,51.661290,54.100000,133.290323,20.467742,21.877419,13.277419,1.500000,19.416129,38.561290,68.000000,26.961290,16.670968,11.077419,1.874194
3165,131,21,47.325806,51.170968,123.706452,20.929032,21.545161,13.648387,1.300000,18.100000,36.251613,63.603226,27.593548,16.822581,10.961290,1.796774
3166,131,22,44.380645,48.183871,116.225806,22.535484,20.722581,13.370968,1.034783,17.248387,34.006452,60.151613,29.612903,16.719355,11.170968,1.838710
3167,131,23,40.200000,44.964516,106.596774,24.103226,19.377419,12.125806,0.678261,16.129032,31.325806,55.858065,30.819355,15.864516,11.064516,1.812903

## Outliers detection

In [35]:
# Here I use statistical methods such as z_score and its respective formula
def detect_outliers(data):
    outliers = []
    threshold = 3
    mean = np.mean(data)
    std = np.std(data)
    
    for i in data:
        z_score = (i-mean)/std
        if np.abs(z_score) > threshold:
            outliers.append(i)
    return outliers

In [37]:
# For each column we detect it's outlier values, but I did not removed them.
outliers_dict = {}
for col in df_updated.columns:
    outliers_dict[col] = detect_outliers(df_updated[col].values)

In [38]:
outliers_dict

{'Month (text)': [],
 'GMT': [],
 'London Mean Roadside Nitric Oxide (ug/m3)': [191.56333333333333,
  192.69666666666672,
  196.6833333333333,
  191.00000000000009,
  205.49655172413787,
  224.10689655172408,
  216.12758620689655,
  194.4551724137931,
  193.02580645161288,
  193.6903225806452,
  200.19032258064513,
  198.07096774193542,
  193.3137931034483,
  203.66666666666669,
  210.06666666666663,
  200.13333333333333,
  224.7258064516129,
  254.1612903225806,
  257.26451612903224,
  236.19677419354844,
  210.9,
  192.78387096774202,
  193.6161290322581,
  209.15806451612912,
  213.5870967741936,
  214.8290322580646,
  204.441935483871],
 'London Mean Roadside Nitrogen Dioxide (ug/m3)': [],
 'London Mean Roadside Oxides of Nitrogen (ug/m3)': [298.1586206896552,
  290.02068965517236,
  287.2366666666666,
  296.67419354838705,
  331.0741935483871,
  335.81935483870984,
  313.7709677419355,
  286.1322580645162,
  292.53225806451616,
  298.4612903225806,
  299.16774193548383,
  285.9225806451613,
  314.12258064516135,
  333.93870967741935,
  336.2709677419355,
  294.1322580645161,
  284.541935483871,
  289.76129032258063],
 'London Mean Roadside Ozone (ug/m3)': [60.74193548387096,
  63.74193548387096,
  64.90322580645162,
  66.29032258064515,
  65.96774193548384,
  61.387096774193544,
  59.25806451612904,
  59.58064516129033],
 'London Mean Roadside PM10 Particulate (ug/m3)': [45.72413793103448,
  49.24137931034482,
  49.55172413793103,
  47.62068965517243,
  46.27586206896552,
  44.55172413793104,
  44.6551724137931,
  46.6741935483871,
  49.95161290322582,
  52.09354838709679,
  50.48709677419353,
  47.89032258064516,
  45.95483870967742,
  44.46129032258065,
  43.57096774193549,
  43.78387096774194,
  46.05666666666666,
  49.01333333333334,
  50.13333333333333,
  47.56666666666667,
  44.01666666666666,
  46.04827586206897,
  43.88620689655173,
  45.84838709677419,
  48.35161290322581,
  49.24516129032258,
  47.98387096774192,
  45.15806451612904,
  44.66129032258064,
  45.112903225806456,
  46.31612903225804,
  46.73870967741935,
  45.538709677419355,
  43.4741935483871],
 'London Mean Roadside PM2.5 Particulate (ug/m3)': [31.724137931034488,
  32.0,
  31.379310344827584,
  31.275862068965527,
  33.225806451612904,
  33.25806451612903,
  31.29032258064516,
  34.08064516129032,
  32.70322580645161,
  31.416129032258066,
  32.22258064516129,
  34.75806451612903,
  35.8,
  36.39032258064515,
  35.65806451612903,
  34.090322580645164,
  32.480645161290326,
  31.454838709677414,
  32.54193548387097,
  33.61290322580645,
  34.52903225806452,
  35.26774193548388,
  34.61290322580645,
  31.41666666666667,
  32.43333333333333,
  34.38999999999999,
  35.543333333333344,
  36.52333333333333,
  35.60000000000001,
  32.50666666666667,
  33.561290322580646,
  34.458064516129035,
  34.309677419354855,
  33.158064516129045,
  31.980645161290308,
  32.425806451612914,
  33.19354838709677,
  32.50967741935484],
 'London Mean Roadside Sulphur Dioxide (ug/m3)': [8.689655172413792,
  9.482758620689657,
  10.413793103448276,
  10.172413793103454,
  10.448275862068966,
  10.448275862068963,
  10.620689655172413,
  10.862068965517244,
  10.0,
  8.655172413793107,
  8.980645161290324,
  10.867741935483872,
  10.848387096774195,
  10.490322580645161,
  10.641935483870967,
  8.990322580645161,
  8.383870967741935,
  9.177419354838714,
  8.841935483870971,
  8.71290322580645,
  8.380645161290323,
  8.935483870967744,
  8.503225806451614,
  -2.332258064516129,
  -2.3838709677419354,
  -2.248387096774194,
  -2.012903225806451,
  -1.7833333333333332,
  -1.8032258064516136,
  -1.987096774193548,
  -1.9967741935483876,
  -2.103225806451613,
  -2.2580645161290316,
  -2.2612903225806456],
 'London Mean Background Nitric Oxide (ug/m3)': [74.66,
  85.28666666666666,
  83.08666666666664,
  73.99666666666667,
  71.31666666666669,
  77.19999999999997,
  78.07999999999998,
  75.39666666666666,
  69.29666666666665,
  78.46774193548386,
  80.26451612903223,
  77.81612903225808,
  75.18387096774191,
  69.0741935483871,
  83.63225806451612,
  79.39032258064519,
  76.26,
  69.57666666666664,
  75.65806451612904,
  76.37741935483872,
  69.25172413793105,
  70.33225806451614,
  87.17741935483872,
  73.7032258064516,
  73.50322580645161,
  92.22068965517241,
  104.4655172413793,
  92.35862068965515,
  74.54482758620689,
  74.09655172413792,
  75.94137931034483,
  78.0344827586207,
  76.45517241379311,
  70.4103448275862,
  71.29677419354837,
  71.46129032258062,
  78.99354838709677,
  78.11935483870968,
  72.3793103448276,
  76.47333333333334,
  84.84666666666669,
  73.32,
  78.80322580645162,
  71.8935483870968,
  79.79032258064517,
  102.6290322580645,
  120.36451612903222,
  118.76774193548384,
  100.98387096774195,
  81.34516129032258,
  73.6,
  81.12258064516129,
  87.81612903225808,
  89.55806451612902,
  88.60000000000002,
  83.92903225806452,
  77.82903225806453,
  74.98709677419355,
  77.98387096774191,
  88.2516129032258,
  81.73225806451616],
 'London Mean Background Nitrogen Dioxide (ug/m3)': [71.79310344827587,
  74.31034482758618,
  70.6551724137931,
  67.89655172413792,
  70.99999999999999,
  71.58620689655173,
  69.6896551724138,
  67.96551724137932,
  69.5],
 'London Mean Background Oxides of Nitrogen (ug/m3)': [138.27333333333334,
  134.72333333333333,
  128.50999999999996,
  130.72000000000003,
  135.48999999999998,
  132.92999999999998,
  137.5612903225806,
  138.88064516129035,
  134.6774193548387,
  131.09354838709677,
  130.05161290322582,
  130.27096774193544,
  128.941935483871,
  144.38709677419357,
  140.91290322580645,
  138.851724137931,
  153.94827586206898,
  139.3655172413793,
  128.5758620689655,
  130.71379310344827,
  132.0448275862069,
  133.8733333333333,
  153.9258064516129,
  175.57096774193548,
  174.46451612903226,
  154.64838709677426,
  131.60322580645158,
  130.15806451612906,
  139.85483870967744,
  147.05161290322584,
  147.54516129032248,
  144.45483870967738,
  137.12903225806457,
  136.25161290322583,
  173.79032258064518,
  193.65483870967742,
  183.08064516129033,
  142.96129032258062,
  138.16451612903222,
  153.82580645161298,
  155.7064516129032,
  156.10322580645163,
  152.83225806451608,
  146.03870967741938,
  137.88709677419357],
 'London Mean Background Ozone (ug/m3)': [83.93548387096773,
  85.7741935483871,
  86.16129032258064,
  85.06451612903223,
  82.21,
  82.30322580645165,
  83.6064516129032,
  83.86451612903227,
  81.96774193548387,
  89.03548387096771,
  93.1516129032258,
  96.0516129032258,
  95.45161290322581,
  91.95806451612906,
  87.50967741935486,
  82.04193548387099],
 'London Mean Background PM10 Particulate (ug/m3)': [35.724137931034484,
  36.82758620689657,
  36.862068965517246,
  35.379310344827594,
  34.9032258064516,
  34.677419354838705,
  37.038709677419355,
  36.30967741935484,
  34.68709677419354,
  36.23870967741935,
  38.370967741935495,
  41.0225806451613,
  43.43870967741935,
  42.63225806451614,
  40.37096774193548,
  37.545161290322596,
  36.35806451612904,
  35.96451612903226,
  35.3258064516129,
  34.651612903225804,
  34.506451612903234,
  35.23548387096773,
  36.88709677419353,
  37.65161290322581,
  37.932258064516134,
  37.54516129032257,
  37.348387096774175,
  35.78000000000001,
  34.690000000000005,
  34.25,
  34.356666666666676,
  35.33000000000001,
  38.77999999999999,
  42.15000000000001,
  43.12666666666665,
  41.13000000000001,
  37.96000000000001,
  34.71000000000001,
  34.91666666666666,
  34.97666666666666,
  34.97741935483871,
  37.15161290322581,
  38.99354838709677,
  39.46451612903226,
  38.70000000000001,
  37.10645161290323,
  35.732258064516145,
  34.68709677419354,
  34.28709677419355,
  34.21290322580646,
  36.712903225806436,
  37.84838709677419,
  39.119354838709675,
  38.76774193548388,
  37.43225806451611,
  34.76129032258064],
 'London Mean Background PM2.5 Particulate (ug/m3)': [32.12903225806451,
  31.21290322580645,
  30.32903225806452,
  29.229032258064517,
  28.49032258064517,
  28.064516129032263,
  28.764516129032256,
  30.106451612903232,
  31.629032258064523,
  32.832258064516125,
  32.248387096774195,
  30.083870967741934,
  30.067741935483877,
  28.648387096774197,
  27.535483870967735,
  27.948387096774198,
  29.69677419354839,
  31.22258064516129,
  32.06774193548387,
  32.55806451612904,
  32.303225806451614,
  28.39333333333333,
  28.356666666666666,
  28.586666666666666,
  29.140000000000004,
  29.31,
  29.54,
  31.05,
  33.36666666666667,
  32.95,
  30.35,
  27.753333333333334,
  28.529032258064518,
  28.19354838709677,
  28.20967741935484,
  28.20967741935484,
  28.75161290322581,
  28.80645161290323,
  29.887096774193548,
  31.03870967741936,
  31.293548387096767,
  31.58064516129032,
  30.26774193548387,
  28.480645161290322,
  29.125806451612906,
  31.277419354838706,
  31.97419354838711,
  29.851612903225806,
  27.97419354838709,
  27.60333333333333,
  28.42333333333333,
  28.33,
  28.113333333333333],
 'London Mean Background Sulphur Dioxide (ug/m3)': [7.655172413793102,
  8.13793103448276,
  9.0,
  8.931034482758621,
  9.034482758620687,
  8.896551724137929,
  8.793103448275861,
  8.827586206896553,
  8.13793103448276,
  6.8096774193548395,
  6.790322580645162,
  6.767857142857142]}

In [6]:
len(df[df['London Mean Roadside Sulphur Dioxide (ug/m3)'] < 0])

64

##### There are many methods to detect outliers, such as scatter plots, box plots and etc, but for those methods there should be some target feature based on which we will plot those scatters.