#                                                  Cleaning "London Air" dataset

## Data exploration

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Read the dataset
df = pd.read_csv('time-of-day-per-month.csv')
df.head(10)

,Month (text),GMT,London Mean Roadside Nitric Oxide (ug/m3),London Mean Roadside Nitrogen Dioxide (ug/m3),London Mean Roadside Oxides of Nitrogen (ug/m3),London Mean Roadside Ozone (ug/m3),London Mean Roadside PM10 Particulate (ug/m3),London Mean Roadside PM2.5 Particulate (ug/m3),London Mean Roadside Sulphur Dioxide (ug/m3),London Mean Background Nitric Oxide (ug/m3),London Mean Background Nitrogen Dioxide (ug/m3),London Mean Background Oxides of Nitrogen (ug/m3),London Mean Background Ozone (ug/m3),London Mean Background PM10 Particulate (ug/m3),London Mean Background PM2.5 Particulate (ug/m3),London Mean Background Sulphur Dioxide (ug/m3)
0,2008-01-01,00:00,NaN,42.258065,NaN,32.645161,22.967742,15.516129,3.354839,NaN,34.193548,NaN,41.774194,19.161290,NaN,3.129032
1,2008-01-01,01:00,NaN,33.774194,NaN,35.290323,21.161290,13.548387,2.612903,NaN,29.000000,NaN,45.290323,18.903226,NaN,3.064516
2,2008-01-01,02:00,NaN,28.838710,NaN,43.161290,19.580645,12.677419,2.129032,NaN,25.354839,NaN,46.645161,17.677419,NaN,3.290323
3,2008-01-01,03:00,NaN,27.322581,NaN,42.387097,18.322581,11.870968,1.967742,NaN,23.387097,NaN,46.645161,16.387097,NaN,3.322581
4,2008-01-01,04:00,NaN,29.387097,NaN,40.129032,18.096774,11.967742,2.193548,NaN,24.193548,NaN,45.225806,16.000000,NaN,2.774194
5,2008-01-01,05:00,NaN,38.322581,NaN,33.806452,18.677419,12.225806,2.193548,NaN,29.419355,NaN,40.290323,15.548387,NaN,2.419355
6,2008-01-01,06:00,NaN,53.709677,NaN,26.741935,21.516129,14.548387,3.419355,NaN,39.645161,NaN,34.064516,16.709677,NaN,2.774194
7,2008-01-01,07:00,NaN,66.161290,NaN,22.354839,23.354839,14.967742,4.161290,NaN,49.258065,NaN,29.322581,17.129032,NaN,3.000000
8,2008-01-01,08:00,NaN,69.483871,NaN,21.516129,25.258065,14.870968,4.741935,NaN,52.870968,NaN,28.096774,17.677419,NaN,3.451613
9,2008-01-01,09:00,NaN,67.064516,NaN,23.741935,26.645161,14.806452,5.225806,NaN,50.451613,NaN,31.419355,19.129032,NaN,3.838710

In [4]:
df.describe()

,London Mean Roadside Nitric Oxide (ug/m3),London Mean Roadside Nitrogen Dioxide (ug/m3),London Mean Roadside Oxides of Nitrogen (ug/m3),London Mean Roadside Ozone (ug/m3),London Mean Roadside PM10 Particulate (ug/m3),London Mean Roadside PM2.5 Particulate (ug/m3),London Mean Roadside Sulphur Dioxide (ug/m3),London Mean Background Nitric Oxide (ug/m3),London Mean Background Nitrogen Dioxide (ug/m3),London Mean Background Oxides of Nitrogen (ug/m3),London Mean Background Ozone (ug/m3),London Mean Background PM10 Particulate (ug/m3),London Mean Background PM2.5 Particulate (ug/m3),London Mean Background Sulphur Dioxide (ug/m3)
count,2592.000000,3168.000000,2592.000000,3168.000000,3168.000000,3168.000000,3168.000000,2592.000000,3168.000000,2592.000000,3168.000000,3168.000000,3072.000000,3168.000000
mean,78.339254,55.757291,139.490022,27.173816,25.122292,15.715066,3.262949,22.122995,34.864790,56.383385,36.894533,19.272478,13.292989,3.362393
std,41.165511,13.456008,51.788558,10.554851,6.111801,5.187532,1.661654,17.258042,10.838895,26.522083,15.018422,4.972061,4.755642,1.112722
min,9.163333,20.996774,37.803571,6.410000,11.812903,5.907143,-2.383871,1.419355,11.529032,13.461290,8.732258,10.229032,5.612903,0.730000
25%,46.527419,47.099194,101.602419,19.391935,20.938871,12.052903,2.231607,9.690323,26.235657,36.524355,25.723848,15.903226,9.873978,2.596774
50%,72.861774,55.756667,136.022581,25.941935,24.286828,14.334167,3.134409,16.737385,33.098387,49.200952,34.708226,18.133333,12.045968,3.319677
75%,103.343437,64.977500,171.520403,33.792742,28.320161,18.129274,4.241379,29.292742,41.936434,69.950893,46.143980,21.484570,15.625000,4.032258
max,257.264516,95.551724,336.270968,66.290323,52.093548,36.523333,10.867742,120.364516,74.310345,193.654839,96.051613,43.438710,33.366667,9.034483

In [3]:
# Shape of our dataset
df.shape

(3168, 16)

In [4]:
# Some information about dataset such as type of each feature and number of non-null values and etc.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3168 entries, 0 to 3167
Data columns (total 16 columns):
Month (text)                                         3168 non-null object
GMT                                                  3168 non-null object
London Mean Roadside Nitric Oxide (ug/m3)            2592 non-null float64
London Mean Roadside Nitrogen Dioxide (ug/m3)        3168 non-null float64
London Mean Roadside Oxides of Nitrogen (ug/m3)      2592 non-null float64
London Mean Roadside Ozone (ug/m3)                   3168 non-null float64
London Mean Roadside PM10 Particulate (ug/m3)        3168 non-null float64
London Mean Roadside PM2.5 Particulate (ug/m3)       3168 non-null float64
London Mean Roadside Sulphur Dioxide (ug/m3)         3168 non-null float64
London Mean Background Nitric Oxide (ug/m3)          2592 non-null float64
London Mean Background Nitrogen Dioxide (ug/m3)      3168 non-null float64
London Mean Background Oxides of Nitrogen (ug/m3)    2592 non-null float64
London Mean Background Ozone (ug/m3)                 3168 non-null float64
London Mean Background PM10 Particulate (ug/m3)      3168 non-null float64
London Mean Background PM2.5 Particulate (ug/m3)     3072 non-null float64
London Mean Background Sulphur Dioxide (ug/m3)       3168 non-null float64
dtypes: float64(14), object(2)
memory usage: 396.1+ KB

## Impute missing values

In [5]:
# Number of null values in each feature
df.isnull().sum().sort_values(ascending=False)

London Mean Background Oxides of Nitrogen (ug/m3)    576
London Mean Background Nitric Oxide (ug/m3)          576
London Mean Roadside Oxides of Nitrogen (ug/m3)      576
London Mean Roadside Nitric Oxide (ug/m3)            576
London Mean Background PM2.5 Particulate (ug/m3)      96
London Mean Background Sulphur Dioxide (ug/m3)         0
London Mean Background PM10 Particulate (ug/m3)        0
London Mean Background Ozone (ug/m3)                   0
London Mean Background Nitrogen Dioxide (ug/m3)        0
London Mean Roadside Sulphur Dioxide (ug/m3)           0
London Mean Roadside PM2.5 Particulate (ug/m3)         0
London Mean Roadside PM10 Particulate (ug/m3)          0
London Mean Roadside Ozone (ug/m3)                     0
London Mean Roadside Nitrogen Dioxide (ug/m3)          0
GMT                                                    0
Month (text)                                           0
dtype: int64

In [7]:
from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):

    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [8]:
df_updated = DataFrameImputer().fit_transform(df)
df_updated

,Month (text),GMT,London Mean Roadside Nitric Oxide (ug/m3),London Mean Roadside Nitrogen Dioxide (ug/m3),London Mean Roadside Oxides of Nitrogen (ug/m3),London Mean Roadside Ozone (ug/m3),London Mean Roadside PM10 Particulate (ug/m3),London Mean Roadside PM2.5 Particulate (ug/m3),London Mean Roadside Sulphur Dioxide (ug/m3),London Mean Background Nitric Oxide (ug/m3),London Mean Background Nitrogen Dioxide (ug/m3),London Mean Background Oxides of Nitrogen (ug/m3),London Mean Background Ozone (ug/m3),London Mean Background PM10 Particulate (ug/m3),London Mean Background PM2.5 Particulate (ug/m3),London Mean Background Sulphur Dioxide (ug/m3)
0,2008-01-01,00:00,78.339254,42.258065,139.490022,32.645161,22.967742,15.516129,3.354839,22.122995,34.193548,56.383385,41.774194,19.161290,13.292989,3.129032
1,2008-01-01,01:00,78.339254,33.774194,139.490022,35.290323,21.161290,13.548387,2.612903,22.122995,29.000000,56.383385,45.290323,18.903226,13.292989,3.064516
2,2008-01-01,02:00,78.339254,28.838710,139.490022,43.161290,19.580645,12.677419,2.129032,22.122995,25.354839,56.383385,46.645161,17.677419,13.292989,3.290323
3,2008-01-01,03:00,78.339254,27.322581,139.490022,42.387097,18.322581,11.870968,1.967742,22.122995,23.387097,56.383385,46.645161,16.387097,13.292989,3.322581
4,2008-01-01,04:00,78.339254,29.387097,139.490022,40.129032,18.096774,11.967742,2.193548,22.122995,24.193548,56.383385,45.225806,16.000000,13.292989,2.774194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,2018-12-01,19:00,59.396774,58.429032,149.503226,19.609677,22.793548,13.577419,2.052174,21.977419,40.993548,74.290323,26.438710,16.767742,10.987097,2.041935
3164,2018-12-01,20:00,51.661290,54.100000,133.290323,20.467742,21.877419,13.277419,1.500000,19.416129,38.561290,68.000000,26.961290,16.670968,11.077419,1.874194
3165,2018-12-01,21:00,47.325806,51.170968,123.706452,20.929032,21.545161,13.648387,1.300000,18.100000,36.251613,63.603226,27.593548,16.822581,10.961290,1.796774
3166,2018-12-01,22:00,44.380645,48.183871,116.225806,22.535484,20.722581,13.370968,1.034783,17.248387,34.006452,60.151613,29.612903,16.719355,11.170968,1.838710
3167,2018-12-01,23:00,40.200000,44.964516,106.596774,24.103226,19.377419,12.125806,0.678261,16.129032,31.325806,55.858065,30.819355,15.864516,11.064516,1.812903

## Encoding categorical features

In [9]:
df_updated['GMT'].value_counts()

13:00    132
00:00    132
20:00    132
23:00    132
09:00    132
06:00    132
04:00    132
18:00    132
15:00    132
19:00    132
07:00    132
11:00    132
05:00    132
14:00    132
08:00    132
22:00    132
01:00    132
02:00    132
16:00    132
03:00    132
10:00    132
21:00    132
17:00    132
12:00    132
Name: GMT, dtype: int64

In [10]:
df_updated['Month (text)'].value_counts()

2018-10-01    24
2017-11-01    24
2018-11-01    24
2011-09-01    24
2009-06-01    24
              ..
2009-04-01    24
2011-03-01    24
2009-12-01    24
2008-07-01    24
2016-08-01    24
Name: Month (text), Length: 132, dtype: int64

In [11]:
category_col=df_updated.select_dtypes(include=['object']).columns
category_col

Index(['Month (text)', 'GMT'], dtype='object')

In [12]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for col in category_col:
    df_updated[col] = label_encoder.fit_transform(df_updated[col])
    
df_updated

,Month (text),GMT,London Mean Roadside Nitric Oxide (ug/m3),London Mean Roadside Nitrogen Dioxide (ug/m3),London Mean Roadside Oxides of Nitrogen (ug/m3),London Mean Roadside Ozone (ug/m3),London Mean Roadside PM10 Particulate (ug/m3),London Mean Roadside PM2.5 Particulate (ug/m3),London Mean Roadside Sulphur Dioxide (ug/m3),London Mean Background Nitric Oxide (ug/m3),London Mean Background Nitrogen Dioxide (ug/m3),London Mean Background Oxides of Nitrogen (ug/m3),London Mean Background Ozone (ug/m3),London Mean Background PM10 Particulate (ug/m3),London Mean Background PM2.5 Particulate (ug/m3),London Mean Background Sulphur Dioxide (ug/m3)
0,0,0,78.339254,42.258065,139.490022,32.645161,22.967742,15.516129,3.354839,22.122995,34.193548,56.383385,41.774194,19.161290,13.292989,3.129032
1,0,1,78.339254,33.774194,139.490022,35.290323,21.161290,13.548387,2.612903,22.122995,29.000000,56.383385,45.290323,18.903226,13.292989,3.064516
2,0,2,78.339254,28.838710,139.490022,43.161290,19.580645,12.677419,2.129032,22.122995,25.354839,56.383385,46.645161,17.677419,13.292989,3.290323
3,0,3,78.339254,27.322581,139.490022,42.387097,18.322581,11.870968,1.967742,22.122995,23.387097,56.383385,46.645161,16.387097,13.292989,3.322581
4,0,4,78.339254,29.387097,139.490022,40.129032,18.096774,11.967742,2.193548,22.122995,24.193548,56.383385,45.225806,16.000000,13.292989,2.774194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,131,19,59.396774,58.429032,149.503226,19.609677,22.793548,13.577419,2.052174,21.977419,40.993548,74.290323,26.438710,16.767742,10.987097,2.041935
3164,131,20,51.661290,54.100000,133.290323,20.467742,21.877419,13.277419,1.500000,19.416129,38.561290,68.000000,26.961290,16.670968,11.077419,1.874194
3165,131,21,47.325806,51.170968,123.706452,20.929032,21.545161,13.648387,1.300000,18.100000,36.251613,63.603226,27.593548,16.822581,10.961290,1.796774
3166,131,22,44.380645,48.183871,116.225806,22.535484,20.722581,13.370968,1.034783,17.248387,34.006452,60.151613,29.612903,16.719355,11.170968,1.838710
3167,131,23,40.200000,44.964516,106.596774,24.103226,19.377419,12.125806,0.678261,16.129032,31.325806,55.858065,30.819355,15.864516,11.064516,1.812903

## Outliers detection

In [35]:
# Here I use statistical methods such as z_score and its respective formula
def detect_outliers(data):
    outliers = []
    threshold = 3
    mean = np.mean(data)
    std = np.std(data)
    
    for i in data:
        z_score = (i-mean)/std
        if np.abs(z_score) > threshold:
            outliers.append(i)
    return outliers

In [37]:
outliers_dict = {}
for col in df_updated.columns:
    outliers_dict[col] = detect_outliers(df_updated[col].values)

In [38]:
outliers_dict

{'Month (text)': [],
 'GMT': [],
 'London Mean Roadside Nitric Oxide (ug/m3)': [191.56333333333333,
  192.69666666666672,
  196.6833333333333,
  191.00000000000009,
  205.49655172413787,
  224.10689655172408,
  216.12758620689655,
  194.4551724137931,
  193.02580645161288,
  193.6903225806452,
  200.19032258064513,
  198.07096774193542,
  193.3137931034483,
  203.66666666666669,
  210.06666666666663,
  200.13333333333333,
  224.7258064516129,
  254.1612903225806,
  257.26451612903224,
  236.19677419354844,
  210.9,
  192.78387096774202,
  193.6161290322581,
  209.15806451612912,
  213.5870967741936,
  214.8290322580646,
  204.441935483871],
 'London Mean Roadside Nitrogen Dioxide (ug/m3)': [],
 'London Mean Roadside Oxides of Nitrogen (ug/m3)': [298.1586206896552,
  290.02068965517236,
  287.2366666666666,
  296.67419354838705,
  331.0741935483871,
  335.81935483870984,
  313.7709677419355,
  286.1322580645162,
  292.53225806451616,
  298.4612903225806,
  299.16774193548383,
  285.9225806451613,
  314.12258064516135,
  333.93870967741935,
  336.2709677419355,
  294.1322580645161,
  284.541935483871,
  289.76129032258063],
 'London Mean Roadside Ozone (ug/m3)': [60.74193548387096,
  63.74193548387096,
  64.90322580645162,
  66.29032258064515,
  65.96774193548384,
  61.387096774193544,
  59.25806451612904,
  59.58064516129033],
 'London Mean Roadside PM10 Particulate (ug/m3)': [45.72413793103448,
  49.24137931034482,
  49.55172413793103,
  47.62068965517243,
  46.27586206896552,
  44.55172413793104,
  44.6551724137931,
  46.6741935483871,
  49.95161290322582,
  52.09354838709679,
  50.48709677419353,
  47.89032258064516,
  45.95483870967742,
  44.46129032258065,
  43.57096774193549,
  43.78387096774194,
  46.05666666666666,
  49.01333333333334,
  50.13333333333333,
  47.56666666666667,
  44.01666666666666,
  46.04827586206897,
  43.88620689655173,
  45.84838709677419,
  48.35161290322581,
  49.24516129032258,
  47.98387096774192,
  45.15806451612904,
  44.66129032258064,
  45.112903225806456,
  46.31612903225804,
  46.73870967741935,
  45.538709677419355,
  43.4741935483871],
 'London Mean Roadside PM2.5 Particulate (ug/m3)': [31.724137931034488,
  32.0,
  31.379310344827584,
  31.275862068965527,
  33.225806451612904,
  33.25806451612903,
  31.29032258064516,
  34.08064516129032,
  32.70322580645161,
  31.416129032258066,
  32.22258064516129,
  34.75806451612903,
  35.8,
  36.39032258064515,
  35.65806451612903,
  34.090322580645164,
  32.480645161290326,
  31.454838709677414,
  32.54193548387097,
  33.61290322580645,
  34.52903225806452,
  35.26774193548388,
  34.61290322580645,
  31.41666666666667,
  32.43333333333333,
  34.38999999999999,
  35.543333333333344,
  36.52333333333333,
  35.60000000000001,
  32.50666666666667,
  33.561290322580646,
  34.458064516129035,
  34.309677419354855,
  33.158064516129045,
  31.980645161290308,
  32.425806451612914,
  33.19354838709677,
  32.50967741935484],
 'London Mean Roadside Sulphur Dioxide (ug/m3)': [8.689655172413792,
  9.482758620689657,
  10.413793103448276,
  10.172413793103454,
  10.448275862068966,
  10.448275862068963,
  10.620689655172413,
  10.862068965517244,
  10.0,
  8.655172413793107,
  8.980645161290324,
  10.867741935483872,
  10.848387096774195,
  10.490322580645161,
  10.641935483870967,
  8.990322580645161,
  8.383870967741935,
  9.177419354838714,
  8.841935483870971,
  8.71290322580645,
  8.380645161290323,
  8.935483870967744,
  8.503225806451614,
  -2.332258064516129,
  -2.3838709677419354,
  -2.248387096774194,
  -2.012903225806451,
  -1.7833333333333332,
  -1.8032258064516136,
  -1.987096774193548,
  -1.9967741935483876,
  -2.103225806451613,
  -2.2580645161290316,
  -2.2612903225806456],
 'London Mean Background Nitric Oxide (ug/m3)': [74.66,
  85.28666666666666,
  83.08666666666664,
  73.99666666666667,
  71.31666666666669,
  77.19999999999997,
  78.07999999999998,
  75.39666666666666,
  69.29666666666665,
  78.46774193548386,
  80.26451612903223,
  77.81612903225808,
  75.18387096774191,
  69.0741935483871,
  83.63225806451612,
  79.39032258064519,
  76.26,
  69.57666666666664,
  75.65806451612904,
  76.37741935483872,
  69.25172413793105,
  70.33225806451614,
  87.17741935483872,
  73.7032258064516,
  73.50322580645161,
  92.22068965517241,
  104.4655172413793,
  92.35862068965515,
  74.54482758620689,
  74.09655172413792,
  75.94137931034483,
  78.0344827586207,
  76.45517241379311,
  70.4103448275862,
  71.29677419354837,
  71.46129032258062,
  78.99354838709677,
  78.11935483870968,
  72.3793103448276,
  76.47333333333334,
  84.84666666666669,
  73.32,
  78.80322580645162,
  71.8935483870968,
  79.79032258064517,
  102.6290322580645,
  120.36451612903222,
  118.76774193548384,
  100.98387096774195,
  81.34516129032258,
  73.6,
  81.12258064516129,
  87.81612903225808,
  89.55806451612902,
  88.60000000000002,
  83.92903225806452,
  77.82903225806453,
  74.98709677419355,
  77.98387096774191,
  88.2516129032258,
  81.73225806451616],
 'London Mean Background Nitrogen Dioxide (ug/m3)': [71.79310344827587,
  74.31034482758618,
  70.6551724137931,
  67.89655172413792,
  70.99999999999999,
  71.58620689655173,
  69.6896551724138,
  67.96551724137932,
  69.5],
 'London Mean Background Oxides of Nitrogen (ug/m3)': [138.27333333333334,
  134.72333333333333,
  128.50999999999996,
  130.72000000000003,
  135.48999999999998,
  132.92999999999998,
  137.5612903225806,
  138.88064516129035,
  134.6774193548387,
  131.09354838709677,
  130.05161290322582,
  130.27096774193544,
  128.941935483871,
  144.38709677419357,
  140.91290322580645,
  138.851724137931,
  153.94827586206898,
  139.3655172413793,
  128.5758620689655,
  130.71379310344827,
  132.0448275862069,
  133.8733333333333,
  153.9258064516129,
  175.57096774193548,
  174.46451612903226,
  154.64838709677426,
  131.60322580645158,
  130.15806451612906,
  139.85483870967744,
  147.05161290322584,
  147.54516129032248,
  144.45483870967738,
  137.12903225806457,
  136.25161290322583,
  173.79032258064518,
  193.65483870967742,
  183.08064516129033,
  142.96129032258062,
  138.16451612903222,
  153.82580645161298,
  155.7064516129032,
  156.10322580645163,
  152.83225806451608,
  146.03870967741938,
  137.88709677419357],
 'London Mean Background Ozone (ug/m3)': [83.93548387096773,
  85.7741935483871,
  86.16129032258064,
  85.06451612903223,
  82.21,
  82.30322580645165,
  83.6064516129032,
  83.86451612903227,
  81.96774193548387,
  89.03548387096771,
  93.1516129032258,
  96.0516129032258,
  95.45161290322581,
  91.95806451612906,
  87.50967741935486,
  82.04193548387099],
 'London Mean Background PM10 Particulate (ug/m3)': [35.724137931034484,
  36.82758620689657,
  36.862068965517246,
  35.379310344827594,
  34.9032258064516,
  34.677419354838705,
  37.038709677419355,
  36.30967741935484,
  34.68709677419354,
  36.23870967741935,
  38.370967741935495,
  41.0225806451613,
  43.43870967741935,
  42.63225806451614,
  40.37096774193548,
  37.545161290322596,
  36.35806451612904,
  35.96451612903226,
  35.3258064516129,
  34.651612903225804,
  34.506451612903234,
  35.23548387096773,
  36.88709677419353,
  37.65161290322581,
  37.932258064516134,
  37.54516129032257,
  37.348387096774175,
  35.78000000000001,
  34.690000000000005,
  34.25,
  34.356666666666676,
  35.33000000000001,
  38.77999999999999,
  42.15000000000001,
  43.12666666666665,
  41.13000000000001,
  37.96000000000001,
  34.71000000000001,
  34.91666666666666,
  34.97666666666666,
  34.97741935483871,
  37.15161290322581,
  38.99354838709677,
  39.46451612903226,
  38.70000000000001,
  37.10645161290323,
  35.732258064516145,
  34.68709677419354,
  34.28709677419355,
  34.21290322580646,
  36.712903225806436,
  37.84838709677419,
  39.119354838709675,
  38.76774193548388,
  37.43225806451611,
  34.76129032258064],
 'London Mean Background PM2.5 Particulate (ug/m3)': [32.12903225806451,
  31.21290322580645,
  30.32903225806452,
  29.229032258064517,
  28.49032258064517,
  28.064516129032263,
  28.764516129032256,
  30.106451612903232,
  31.629032258064523,
  32.832258064516125,
  32.248387096774195,
  30.083870967741934,
  30.067741935483877,
  28.648387096774197,
  27.535483870967735,
  27.948387096774198,
  29.69677419354839,
  31.22258064516129,
  32.06774193548387,
  32.55806451612904,
  32.303225806451614,
  28.39333333333333,
  28.356666666666666,
  28.586666666666666,
  29.140000000000004,
  29.31,
  29.54,
  31.05,
  33.36666666666667,
  32.95,
  30.35,
  27.753333333333334,
  28.529032258064518,
  28.19354838709677,
  28.20967741935484,
  28.20967741935484,
  28.75161290322581,
  28.80645161290323,
  29.887096774193548,
  31.03870967741936,
  31.293548387096767,
  31.58064516129032,
  30.26774193548387,
  28.480645161290322,
  29.125806451612906,
  31.277419354838706,
  31.97419354838711,
  29.851612903225806,
  27.97419354838709,
  27.60333333333333,
  28.42333333333333,
  28.33,
  28.113333333333333],
 'London Mean Background Sulphur Dioxide (ug/m3)': [7.655172413793102,
  8.13793103448276,
  9.0,
  8.931034482758621,
  9.034482758620687,
  8.896551724137929,
  8.793103448275861,
  8.827586206896553,
  8.13793103448276,
  6.8096774193548395,
  6.790322580645162,
  6.767857142857142]}

In [6]:
len(df[df['London Mean Roadside Sulphur Dioxide (ug/m3)'] < 0])

64

##### There are many methods to detect outliers, such as scatter plots, box plots and etc, but for those methods there should be some target feature based on which we will plot those scatters.